body, html{
    width: 100%;
height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 44px;
}
.head-nav{
width: 100%;
max-width: 1750px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.head-nav-center{
    display: flex;
    align-items: center;
    gap: 80px;
}
.head-nav-center span{
    font-size: 18px;
    align-items: center;
    display: flex;
    gap: 10px;
}
.head-nav-end{
    display: flex;
    align-items: center;
    gap: 15px;
}
.head-nav-end button{
    font-size: 16px;
padding: 10px 16px 10px 28px;
border-radius: 100px;
background-color: #111111;
color: white;
display: flex;
align-items: center;
gap: 10px;
}
.header-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 500px;
}
.header-text h1{
    font-size: 50px;
    margin-bottom: 0;
}
.header-text h4{
    font-size: 16px;
   margin-bottom: 65px;
   color: #CFCFCF;
}
.header-text span button{
width: 233px;
height: 44px;
border-radius: 100px;
background-color: #111111;
color: white;
}
 
.Hero-Section{
    padding-top: 100px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    position: relative;
}
.header-text{
    padding-top: 250px;
}

.head-box-img{
  position: relative;
  height:1000px;
}



.hero-box1{
  width: 600px;
  height: auto;
  position: absolute;
  top: -250px;

  transform: rotate(-15deg);
}

.hero-box2{
  width: 700px;
  height: auto;
  position: absolute;
top: -200px;
  right: -1px;
  transform: rotate(10deg);
}

.hero-box3{
  width: 650px;
  height: auto;
  position: absolute;
top: 370px;

  transform: rotate(5deg);
}

.hero-box4 {
  width: 800px;
  height: auto;
  position: absolute;
top: 100px;
  right: -100px;
  transform: rotate(-5deg);
}


.section-one{
    background-color: #111111;
    padding-top: 150px;
    padding-bottom: 30px;
}



.row-one{
    display: flex;
    flex-direction: column;
   
}



.head-section-one{
width: 100%;
max-width: 1800px;
margin: auto;
display: flex;
}






.gallery {
 
    margin: 50px auto;
    display: grid;
    grid-template-areas:
      "cardboard mailer mailer  custom"
      "shipper mailer mailer  custom"
      "shipper folded corrugated corrugated "
      "shipper gift setup  setup";
    grid-template-columns: 1fr 0.9fr 0.3fr 1fr;
    grid-template-rows: 300px 50px 200px 300px;
    gap: 25px;

  }

  
  .box {
    position: relative;
    border-radius: 25px;
    overflow: hidden;

  }

  .box img {
    width: 100%;
    height: 100%;
object-fit: cover;

  }

  .box-label {
    position: absolute;
top: 30px;
    left: 5.5%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }

  .box-label-one {
    position: absolute;
top: 45%;
    left: 35%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  .box-label-two {
    position: absolute;
top: 50%;
    left: 39%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  .box-label-three {
    position: absolute;
bottom: 5%;
    left: 10%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  .box-label-four {
    position: absolute;
bottom: 10%;
    left: 5%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  .gallery .box:nth-child(7) {
    grid-area: gift;
    width: 121.5%; 
    justify-self: start;
    z-index: 1;
  }
  
  .gallery .box:nth-child(8) {
    grid-area: setup;
    width: 85%;
    justify-self: end; 
    z-index: 0;
  }
  

  
  .gallery .box:nth-child(1) { grid-area: cardboard; }
  .gallery .box:nth-child(2) { grid-area: mailer; }
  .gallery .box:nth-child(3) { grid-area: custom; }
  .gallery .box:nth-child(4) { grid-area: shipper; }
  .gallery .box:nth-child(5) { grid-area: folded; }
  .gallery .box:nth-child(6) { grid-area: corrugated; }
  .gallery .box:nth-child(7) { grid-area: gift; }
  .gallery .box:nth-child(8) { grid-area: setup; }
 
  .slider-section {
    height: 800vh;
    position: relative;
  
  }
  
  .slider-wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-box {
    width: 100%;
    height: 800px;
    background: white;
    border-radius: 24px;
    overflow: hidden;
    padding: 300px 0px 300px 400px ;
 margin-top: 200px;
 
  }
  
  .slider-track {
    display: flex;
    height: 100%;
    gap:50rem;
  }
  
  .slider-item {
    flex-shrink: 0;
    width: 1000px;
    height: 600px;
    background: #111111;
    border-radius: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    transform: rotate(-5deg);

    position: relative;
  }
  
  .slider-item1 {
    flex-shrink: 0;
    width: 1000px;
    height: 600px;
    background: #111111;
    border-radius: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
 color: white;
    transform: rotate(5deg);
    position: relative;

  }
 
.in-slider h3{
position: absolute;
font-size: 89px;
width: 100%;
left: 5%;
top: -15%;
}
.in-slider h3 span{
font-weight: 200;
}
.in-slider p{
  position: absolute;
  font-size: 25px;
  width: 100%;
  left: 5%;
  top:15%;
  font-weight: 300;
  }
  .photo-slider{
    position: relative;
  }
  .photo-one{
    position: absolute;
    width: 350px;
    height: auto;
    object-fit: cover;
    top: 100px;
left: -130px; 
transform: rotate(5deg); }
  .photo-two{
    position: absolute;
    width: 450px;
    height: auto;
    top: 200px;
    left: 40px; 
    transform: rotate(5deg);
  }
  .photo-three{
    position: absolute;
    width: 2200px;
    height: auto;
top: -420px;
left: -250px; 
transform: rotate(10deg); }
.photo-four{
  position: absolute;
  width: 370px;
  height: auto;
  object-fit: cover;
  top: 135px;
left: -130px; 
transform: rotate(-10deg)
 }
.photo-five{
  position: absolute;
  width: 300px;
  height: auto;
  object-fit: cover;
top: 287px;
left: 200px;

 }
.photo-six{
  position: absolute;
  width: 1100px;
  height: auto;
  object-fit: cover;
  top: -85px;
left: 280px; 
transform: rotate(-5deg)
}
.photo-seven{
  position: absolute;
  width: 400px;
  height: auto;
  object-fit: cover;
  top: 100px;
left: -130px; 
transform: rotate(5deg)

 }
.photo-eight{
  position: absolute;
  width: 420px;
  height: auto;
  object-fit: cover;
top: 140px;
left: 170px;

 }
.photo-nine{
  position: absolute;
  width: 1300px;
  height: auto;
  object-fit: cover;
  top: -115px;
left: 190px; 
 transform: rotate(10deg);
}
.photo-ten{
  position: absolute;
  width: 450px;
  height: auto;
  object-fit: cover;
  top: 170px;
left: -190px; 
transform: rotate(-10deg);
 }
.photo-eleven{
  position: absolute;
  width: 400px;
  height: auto;
  object-fit: cover;
top: 310px;
left: 180px;

 }
.photo-twelve{
  position: absolute;
  width: 1500px;
  height: auto;
  object-fit: cover;
  top: -380px;
left: 120px; 
transform: rotate(-10deg);
}
.photo-thirteen{
  position: absolute;
  width: 400px;
  height: auto;
  object-fit: cover;
  top: 95px;
left: -110px; 
transform: rotate(5deg);
 }
.photo-fourteen{
  position: absolute;
  width: 380px;
  height: auto;
  object-fit: cover;
top: 240px;
left: 210px;
transform: rotate(10deg);

 }
.photo-fifteen{
  position: absolute;
  width: 1400px;
  height: auto;
  object-fit: cover;
  top: -150px;
left: 210px; 
transform: rotate(10deg);

}
.photo-sixteen{
  position: absolute;
  width: 470px;
  height: auto;
  object-fit: cover;
  top: 0px;
left: -160px; 
transform: rotate(-10deg);
 }
.photo-seventeen{
  position: absolute;
  width: 350px;
  height: auto;
  object-fit: cover;
top: 210px;
left: 165px;
transform: rotate(-10deg);

 }
.photo-eighteen{
  position: absolute;
  width: 1300px;
  height: auto;
  object-fit: cover;
  top: -185px;
left: 180px; 
transform: rotate(-5deg);

}
.photo-nineteen{
  position: absolute;
  width: 650px;
  height: auto;
  object-fit: cover;
  top: -30px;
left: -300px; 
transform: rotate(10deg);

 }
.photo-twenty{
  position: absolute;
  width: 400px;
  height: auto;
  object-fit: cover;
top: 260px;
left: 150px;

 }
.photo-twentyone{
  position: absolute;
  width: 1350px;
  height: auto;
  object-fit: cover;
  top: -370px;
left: 235px; 
transform: rotate(10deg);

}
.photo-twentytwo{
  position: absolute;
  width:260px;
  height: auto;
  object-fit: cover;
top: 340px;
left: 170px;
 }
.photo-twentythree{
  position: absolute;
  width: 1500px;
  height: auto;
  object-fit: cover;
  top: -310px;
left: 200px; 
transform: rotate(-5deg);

}
.photo-twentyfour{
  position: absolute;
  width: 510px;
  height: auto;
  object-fit: cover;
  top: 0px;
left: -200px; 
transform: rotate(-10deg);
 }
.text-div h3 {
 text-align: center;
font-size: 80px;
  border-radius: 50px;
  color: #111111;
left: -10%;
position: absolute;
}



.image {
  position: relative;

  width: 100%;
  padding-top: 120px;

}

.img {
  position: relative;
  width: 100%;
  overflow: hidden;
  filter: brightness(20%);
}

.order-con {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.order {
  background-color: white;
  color: black;
  font-size: 32px;
  font-weight: 600;
  padding: 12px 160px;
  border: none;
  border-radius: 50px;
  font-family: system-ui;
  cursor: pointer;
  z-index: 1;
  pointer-events: auto;
}  


.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  padding-bottom: 20px;

}

.text-left {
  font-size: 7rem;
  font-family: system-ui;
  color: rgb(228,228,228);
  font-weight: 600;

  text-align: center;
}

.text-right{
  display: flex;
  gap: 60px;
  font-size: 14px;
  color: #111111;
  line-height: 1.5;

}
.text-right a{
  cursor: pointer;
}
#head-link{
color: #D2D5DB;
  font-size: 16px;
  line-height: 4;
  flex-wrap: nowrap;
  width: 100%;
}
